<div class="md:flex md:flex-column md:justify-content-center ">
  <h1 class="font-bold text-red text-center">Completa los pasos y obten tu credito</h1>
  <div class="max-x-1rem text-center">
    <img width="200px" src="../../../../assets/banco.jpg" alt="banco">
  </div>

  <div class="flex-initial flex align-items-center justify-content-center">

    <h3>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
      standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
      type specimen book.
    </h3>
  </div>

  <div class="flex justify-content-end mt-5">
    <a routerLink="/auth/login">Eres Asesor?</a>
  </div>

</div>
